<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Morse">
            <directory>./morse</directory>
        </testsuite>
        <testsuite name="Worms">
            <directory>./worms</directory>
        </testsuite>
        <testsuite name="Change">
            <directory>./cashier</directory>
        </testsuite>
        <testsuite name="BlackJack">
            <directory>./blackjack</directory>
        </testsuite>
    </testsuites>
</phpunit>

